::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: magenta; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: powderblue;
}


body{
    background-color: pink;
    font-family: 'Irish Grover', cursive;
}

.cursor{
  border: solid 2px magenta;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.container{
  padding-top: 15px;
  padding-bottom: 15px;
  border: 5px solid magenta;
  position: relative;
  margin: 0 auto;
  background: powderblue;
  width: 50%;
  text-align: center;

}

.container button{
  background: magenta;
  color: white;
}

.svg{
  width: 300px;
  position: absolute;
  top: -20px;
  left: 175px;
  pointer-events: none;

}
#sometimes_{
  transition: all 0.2s ease-in-out;
}

#sometimes_:hover{
    box-shadow: 20px 20px 10px 10px magenta;
  }

nav{
  font-family: 'Mochiy Pop One', sans-serif; 
}

.skip a{
  background: magenta;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  
}

.skip a:focus{
  position: relative;
  top: 0px
}

*:focus{
  border-style: solid;
  border-width: 2px;
}

header h1{
  display: none;
}

 h1{
    font: 30px bold hotpink;
}


  .skip a{
    background: #f1f1f1;
    left: 0;
    z-index: 1;
    position: absolute;
    top: -40px;
    transition: top 1s ease-out;
    -webkit-transition: top 1s ease-out;
    padding: 6px;
}

.skip a:focus{
    position: absolute;
    top: 20px;
}


header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#spacers{
  display: none;
}

nav{
  display: flex;
  flex-wrap: nowrap;
  color:wheat;
  background-color: yellowgreen;
  padding: 5px;    
  text-align: right;   
  width: 100%;
  border-radius: 7px;;
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
    /* align-items: baseline; */
  align-content: flex-end;
  margin-bottom: 10px;

  }

  /* nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px; 

    
  } */


  #logo_underline{
    display: none;
  }

  nav li{
    display: flex;
    flex-wrap: nowrap;
    font-size: 25px;
    display: inline;
    padding-right: 100px;

  }
  


#sweater{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

#sweater:hover, #sweater:focus, #sweater:focus-within, #sweater:active{
  transform: rotateY(180deg);
}

#sunnies{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

#sunnies:hover, #sunnies:focus, #sunnies:active{
  transform: rotateY(180deg);
}

#tank{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

#tank:hover{
  transform: rotateY(180deg);
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    flex-basis: 110px;
    width: 75%;
    justify-content: space-between;
    /* align-items: flex-end; */
    background: greenyellow;
    border: solid 2px  magenta;
    padding-top: 3px;
    /* padding-bottom: 10px; */
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
}
/* .card .imgz{
  /* position: absolute;
} */ 

.blue{
  background: aliceblue;
  text-align: center;
  color: purple;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  position: relative;
}

.yellow{
  background: lightcyan;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.pink{
  background: paleturquoise;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.gallery img{
    border: 10px  magenta solid;
    margin: 10px;
    width: 300px;
    }

.gallery img:hover{
  transform: scale(1.09);
  z-index: 2;
  border: 10px yellow solid;
}

.small_picture:hover{
    transform: scale(2);
    z-index: 2;
    border:solid 2px powderblue;
}

#britneylove{
  text-align: center;
  font-family: 'Irish Grover', cursive;
  font-size: small;
}

.britney_inspo h1{
  font-family: 'Irish Grover', cursive;
  font-size: small;
}

nav h1{
  display: none;
}

.four{
display: none;
}

.five{
  display: none;
}
.six{
  display: none;
}

.britney_inspo{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    justify-content: space-between;
    background: greenyellow;
    border: solid 2px  magenta;
    padding-top: 10px;
    padding-bottom: 10px;
  border-radius: 7px;  
}


  .grid {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px  magenta;
    height: 500px;
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
  }
  
  .grid2 {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px  magenta;
    height: 300px;
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
  }
  

  .one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
    /* overflow: scroll; */
    border: solid 4px  magenta;
  }


  .two{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /* overflow: hidden; */
    border: solid 4px  magenta;


  }

  .three{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: aliceblue;
    text-align: center;
    color: navy;
    overflow: scroll;
    border-radius: 3%;
    border: solid 4px  magenta;

  }

  footer{
    background-color: magenta;
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    width: 100%;
  }


  #logo{
    /* display: flex;
    align-items: flex-start; */
    /* /* margin-left: auto; */
    margin-right: auto;

  }
  #logo2{
    margin-left: auto;
    margin-right: auto;
  }


  .britney_links{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    /* margin-left: auto;
    margin-right: auto; */
  }


  .sotw {
    display: flex;
    padding-bottom: 20px;
  }
  
  /* .column {
    flex: 50%;
  } */

  .top_track{
    text-align: center;
  }

  .on_top{
    padding-top: 40px;
  }

  .top_track h1{
    font-family: 'Gloria Hallelujah', cursive;

  }

  .playlist {
    display: flex;
    padding-bottom: 20px;
  }
  
  /* .column2 {
    flex: 50%;
  } */

  .text{
    border:skyblue 5px solid;
    background: violet;
    border-radius: 5px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 20px;
    color:black;
    font-family: 'Dongle', sans-serif;
  }


  .playlist2 {
    display: flex;
    padding-bottom: 20px;
  }
  
  .column3 {
    flex: 50%;
  }

  .playlist4{
    display: flex;
    padding-bottom: 20px;
  }
  
  .column4 {
    flex: 50%;
  }

  @media screen and (min-width: 550px){
#logo_underline{
      display:flex;
    }

#logo{
      display: flex;
      /* flex-direction: row; */
      /* /* margin-left: auto; */
      margin-right: auto; 
      padding-left: 40px;
  
    }
    #logo2{
      margin-left: auto;
      margin-right: auto;
    }

header {
      display: flex;
      flex-wrap: nowrap;
      align-items: none;
      flex-direction: none;
      justify-content: none;
}

.britney_inspo{ 
  text-align: none;
  display: flex;
  flex-direction: none;
  flex-basis: none;
  justify-content: none;
  background: greenyellow;
  border: solid 2px  magenta;
  padding-top: 15px;
  padding-bottom:15px;
  border-radius: 7px;  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


ul {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
}


.grid {
      border: 2px  magenta;
      height: 500px;
      width: 700px;
      display: grid;
      grid-template-columns: 25% 10% 2fr 1fr 2fr;
      grid-template-rows: 25% 10% 2fr 1fr 2fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;
      margin-left: auto;
      margin-right: auto;
    }

.grid2 {
      margin-top: 15px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      border: 2px  magenta;
      height: 500px;
      width: 65%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 75% 25%;
      grid-row-gap: 10px;
      grid-column-gap: 15px;
    }
  
.one{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:  3;
}

.four{
  padding-top: 30px;
  display:inline-block;
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:  3; */
}

.six{
  padding-top: none;
  display: inline-block;
}

.five{
  display: inline-block;
  /* padding-top: 40px; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end:  5; 
  max-height: 300px;
  /* overflow: hidden; */
}

.small_picture{
  border: 3px magenta solid;
}
.image_gallery{
  border: 3px magenta solid;
}

.three {
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 3;
    }

.two{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
      border: none;
      padding-top: 30px;
    }

.three{
      background-color: whitesmoke;
      grid-row-start: 1;
      grid-row-end: 6;
    }

.three h1{
  padding-top: 15px;
  padding-bottom: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#read_more{
  padding-top: 50px;
  padding-left: 35px;
  /* margin-right: auto; */
  /* margin-left: auto; */
}


.nav_links .current{
  font-family: fantasy;
}

    nav {
      display: flex;
      color: #eefbfb;
      background: transparent;
      margin: 10px; 
      text-decoration: none;
     }

    .column {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
        }

    .column2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      flex: none;
      overflow: none;
      }

    .text{
    border:magenta 5px solid; 
    background: yellow;
    border-radius: 5px;
    text-align: center;
    color:teal;
    font-weight: bolder;
    font-family: 'Play', sans-serif;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 350px;
    /* height: 160px; */
    /* padding-top: 20%;
    padding-bottom: 20%; */
    /* font-size: large; */
  }


  .spotify_playlist{
    /* height: 350; */
    border: magenta 5px solid;
  }


.sometimes{
  height: 50%;
}

.some_art{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: auto;
  margin-left: auto;
}

#spacers{
  margin-right: auto;
  margin-left: auto;
  height:50%;
  display: flex;
}


@media screen and (min-width: 700px){

  .parallax {
    /* The image used */
    background-image: url("https://2.bp.blogspot.com/-YcNCwVsIhI4/Vxup7VRiV-I/AAAAAAAAAPs/kt2tN0TPJkMAvG2L7HR5MNyb6-kbJylLACKgB/s1600/britney-spears-90s-wallpaper-2.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.container {
  animation: glowing 1300ms infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px red;
  }
  25%{
    box-shadow: 0 0 3px rgb(255, 166, 0);

  }
  50% {
    box-shadow: 0 0 10px rgb(255, 255, 0);
  }

  75%{
    box-shadow: 0 0 10px green;
  }

  100% {
    box-shadow: 0 0 3px blue;
  }
}
}

  @media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
  }
    #sometimes_{
    transition: none;
    }

    #sometimes_:hover{
    box-shadow: none;
     }
    
  
.gallery img:hover{
  transform: none;
  z-index: 0;
  border: 10px yellow solid;
}

.small_picture:hover{
    transform: none;
    z-index: 0;
    border:solid 2px powderblue;
}
  
    
#sweater{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    transition: none;
    transform-style: none;
}

#sweater:hover, #sweater:focus, #sweater:focus-within, #sweater:active{
  transform: none;
}

#sunnies{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  transition: none;
  transform-style: none;
}

#sunnies:hover, #sunnies:focus, #sunnies:active{
  transform: none;
}

#tank{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  transition: none;
  transform-style: none;
}

#tank:hover{
  transform: none;
}
    


     .container{
       animation: None;
    }
    
    /*Turn off transition*/
    .skip a{
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
  }

